/* 
1. General Styling and Body Elements
2. Nav Styling, Logo, Button
3. Mission Section
4. Featured Tea Section
5. Locations Section\
6. Footer

*/

/* 1. General Styling*/

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: auto;
    width: 100%;

}


/* 2. Navigation Bar; Logo & Buttons */

header {
    position: fixed;
    box-sizing: border-box;
    height: 69px;
    margin-top: 0;
    width: 100%;
    text-decoration: underline;
    border-bottom: 1px solid seashell;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    opacity: .8;
    overflow: hidden;
    
}

#top-logo {
    box-sizing: border-box;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    
}

nav {
    display: flex;
    max-height: 60px;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    
    

}

nav a {
    color: seashell;
    text-decoration: underline;
    margin: 15%;
}


#tea-button {
    text-align:justify;
    min-width:fit-content; /* this causes compatibility issues with Firefox and Samsung */
    
    

}

/* 3. Mission Section */
#mission-section {
    background-image: url(./missions-background.jpg);
    height: 700px;
    width: 80%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}
