@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXh0pg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: 'Montserrat';
        font-style: bold;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cabin/v26/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkbqDH7alxw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* Typefaces used: Abril Fatface, Cabin, Montserrat (normal and italic)*/

      body {
        font-family: 'Montserrat', sans-serif;
        background-color: #666666;
        color: white;
        padding-top: 100px;
        margin: 0;
       
      }
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-size: 36px;
        padding: none;
        
       
      }

      h2, h3 {
        font-family: "Cabin", sans-serif;
        font-size: 28px;
      }

      /* Trying to sort out the header and navbar */
      header {
        position:fixed;
        top: 0;
        z-index: 2;
        height: 80px;
        border-bottom: 1px solid white;
        width: 100%;
        background-color: hsla(182, 49%, 10%, .8);
        
        display: inline-block;
        height: var(--top-nav-height);
        justify-content: space-between;
        
}

header h1 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 36px;
  padding: 0 .25em;
  margin:5px;
  display: inline;
  position: absolute;
  top: 25%;
}

      

      nav {
        float: right; 
        text-decoration: none;
        padding: 0.5em;
        display: inline;
        margin: 2px;
      

      }

      nav ul {
        margin: auto;
        padding: 25px 20px;
        display: inline-block
      }

      nav li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 50px;
        text-decoration: none;
        font-family: "Cabin", sans-serif;
        color: white;
    }

    nav a {
      text-decoration: none;
      color: white;
      float:right;

    }

    .flexbox-center {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      border: 1px solid white;
  
  }
  .colorbox {
    margin: 20px;
    min-height: 100px;
    width: 20%;
    border: 1px solid black;
    text-align: center;
}

#color-1 {
  background-color: hsla(0, 0%, 0%, 1);
  color: white;
}

#color-2 {
  background-color: hsla(182, 49%, 10%, 1);
}

#color-3 {
  background-color:hsla(181, 50%, 21%, 1);
}

#color-4 {
  background-color: hsla(0, 0%, 30%, 1);
}

#color-5 {
  background-color: hsla(0, 0%, 40%, 1);
}